#compdef update-exim4.conf.template

local arguments

arguments=(
    {-h,--help}'[Show short help message and exit]'
    {-n,--nobackup}'[Overwrite existing file, instead of keeping it as a backup]'
    {-o,--output}'[Write output to file instead of /etc/exim4/exim4.conf.template]:file:_files'
    {-r,--run}'[Actually do something]'
    '*:filename:_files'
)
_arguments -s $arguments
