#compdef i.target
# GRASS GIS: target an imagery group to a GRASS location and mapset

local ret=1

_arguments -s -S \
  '--help[print usage summary]' \
  '--verbose[verbose module output]' \
  '--quiet[quiet module output]' \
  '--ui[force launching GUI dialog]' \
  '-c[set current location and mapset as target for imagery group]' \
  'group=[name of input imagery group]:group' \
  'location=[name of imagery target location]:location' \
  'mapset=[name of target mapset]:mapset' && ret=0

return ret
