#compdef t.sample
# Documentation: https://grass.osgeo.org/grass-stable/manuals/t.sample.html
# GRASS GIS: sample input space time dataset(s) with a sample dataset

local ret=1

_arguments -s -S \
  '--help[print usage summary]' \
  '--verbose[verbose module output]' \
  '--quiet[quiet module output]' \
  '--ui[force launching GUI dialog]' \
  '-c[print the column names as first row]' \
  '-s[check for spatial topological overlap]' \
  'inputs=[name of the input space time datasets]:inputs' \
  'sample=[name of the sample space time dataset]:sample' \
  'intype=[type of the input space time dataset]:type:(strds stvds str3ds)' \
  'samtype=[type of the sample space time dataset]:type:(strds stvds str3ds)' \
  'method=[sampling method]:method:(start during overlap contain equal follows precedes)' \
  'separator=[field separator]:sep:(pipe space tab newline)' && ret=0

return ret
