#compdef v.overlay
# GRASS GIS: overlay two vector maps offering clip, intersection, union etc.

local ret=1

_arguments -s -S \
  '(-h --help)'{-h,--help}'[show help]' \
  '-t[do not create attribute table]' \
  '--overwrite[allow output to overwrite existing files]' \
  '--verbose[verbose output]' \
  '--quiet[quiet output]' \
  '--ainput=[input vector map A]:name:' \
  '--alayer=[layer number or name for map A]:layer:' \
  '--atype=[feature type for map A]:type:(line area auto)' \
  '--binput=[input vector map B]:name:' \
  '--blayer=[layer number or name for map B]:layer:' \
  '--btype=[feature type for map B]:type:(area)' \
  '--operator=[output operation]:operator:(and or not xor)' \
  '--output=[output vector map]:name:' \
  '--olayer=[output layers for category, ainput and binput]:olayer:' \
  '--snap=[snapping threshold for boundaries]:snap:' && ret=0

return ret
