#compdef qdarkstyle.example

local arguments

arguments=(
  {-h,--help}'[show this help message and exit]'
  '--palette[light,none}]'
  '--qt[_from {pyqt5,pyqt,pyside2,pyside,qtpy,pyqtgraph,qt.py}]'
  '--test[auto close window after 2s.]'
  '--screenshots[generate screenshots on images folder.]'
  '--offscreen[do not try to show the screen (running on server).]'
  '--reset[reset GUI settings (position, size) then opens.]'
  '*:filename:_files'
)

_arguments -s $arguments
