#compdef update-exim4.conf.template

local arguments

arguments=(
  '-n[|--nobackup - Overwrite old template, do not take backup.]'
  '-o[|--output file - write output to file instead of /etc/exim4/exim4.conf.template]'
  '-h[|--help - This message.]'
  '-r[|--run - Actually do something]'
  '*:filename:_files'
)

_arguments -s $arguments
